.feature-display {
    margin-bottom: 1em;

    .mat-expansion-panel-header-title{
        h2{
            float: left;
            font-size: 80%;
        }
        
    }

    .mat-expansion-panel-header-description{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 8%;
            li{
                float: left;
                background-color: var(--gray-dark);
                color:var(--white);
                padding: 0.25em;
                padding-left: 0.5em;
                padding-right: 0.5em;
                border-radius: 0.5em;
                margin-left: 0.5em;
            }
        }
    }

    .content{
        .screenshots{
            img{
                height: 5em;
                float: left;
                margin-right: 2em;
            }

        }

        &.display{
            display: block;
        }
    }

}

.feature-display .mat-expansion-panel-header-description ul li.VMD{
    background-color: var(--green);
}

.feature-display .mat-expansion-panel-header-description ul li.VMC{
    background-color: var(--orange);
}
.feature-display .mat-expansion-panel-header-description  ul li.VMO{
    background-color: var(--blue);
}
