<article ngClass="feature-display"
        [class]="styleClass"
        *ngIf="value">

        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 [innerHTML]="value.title"></h2>
                    </mat-panel-title>
                    <mat-panel-description>
                        <ul class="asset" *ngIf="value.assets">
                            <li *ngFor="let asset of value.assets" ngClass="asset-icon" [class]="asset" [innerHTML]="asset"></li>
                        </ul>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div class="content">
                    <p class="description"  [innerHTML]="value.description"></p>
                    <div *ngIf="value.screenshots" class="screenshots">
                        <img *ngFor="let sourceImage of value.screenshots" [src]="sourceImage" />
                        <div class="clear"></div>
                    </div>

                    <div class="rules" *ngIf="value.rules">
                        <rule-preview-display *ngFor="let rule of value.rules"
                                              [value]="rule"
                                              [featureUid]="value.uid"
                                              (onDelete)="handlerRuleDelete($event)"></rule-preview-display>
                    </div>
                    
                </div>
        </mat-expansion-panel>
</article>

