
<section class="feature-flipping-backoffice">  


    <content>
        <router-outlet></router-outlet>
    </content>

    <header class="main-header">
        <ul>
            <li *ngFor="let link of links">
                <a [routerLink]="link.path"
                    routerLinkActive="active"
                    [class]="link.styleClass"
                    [routerLinkActiveOptions]="{exact:true}"
                    [innerHTML]="link?.label"></a>
            </li>
            
            <li class="right">User name</li>
            <div class="clear"></div>
        </ul>
    </header>
</section>


