.feature-flipping-backoffice{

    .main-header{
        background-color:var(--gray-dark);
        color:var(--light);
        position: absolute;
        top: 0;
        width: 100%;

        -webkit-box-shadow: 0px 0px 19px 0px var(--dark);
        -moz-box-shadow: 0px 0px 19px 0px var(--dark);
        box-shadow: 0px 0px 19px 0px  var(--dark);

        ul{
            margin: 0;
            padding: 0;
            font-size: 120%;
            height: 1.4em;

            li{
                float: left;
                list-style: none;
                margin-right: 1em;
                &.right{
                    float: right;
                }

                &:first-child{
                    margin-left:1em;
                }

                & a{
                    color:var(--light);
                    padding-left: 1em;
                    padding-right: 1em;

                    &.active{
                        background-color:var(--primary);
                    }
                }
            }
        }
    }

    content{
        margin: 1.6em;
    } 

}
