<section class="features-home-view">
    <header>
        <h1>Feature Home</h1>
    </header>

    <div [class.display]="asideOpen" ngClass="aside">
        <a class="toggleButton" (click)="toogleAsideMenu()">
            <fa-icon [icon]="getAsideButtonIcon()"></fa-icon>
        </a>
        <h2>Filters</h2>

        <div *ngIf="assets">
            <fieldset>
                <legend>Feature</legend>
                <mat-form-field>
                    <input matInput placeholder="Feature name" [(ngModel)]="featureName"  (ngModelChange)="handlerFilterChange()">
                </mat-form-field> 
            </fieldset>
            <fieldset>
                <legend>Assets</legend>
                <ul>
                    <li *ngFor="let asset of assets" >
                        <mat-checkbox  [(ngModel)]="asset.selected" (change)="handlerFilterChange()">{{asset.value}}</mat-checkbox>
                    </li>
                </ul>
            </fieldset>
            
             
        </div>
    </div>
    
    <content [class.display]="asideOpen">
        <button (click)="loadFeaturesData()" class="btn btn-success"><fa-icon [icon]="refreshIcon"></fa-icon></button>
        <feature-display *ngFor="let feature of displayFeatures"
                         [value]="feature"
                         (onDeleteRule)=handlerDeleteRule($event)>
        </feature-display>
    </content>


</section>


