.aside{
    position: relative;
    width: 15em;
    padding-right: 2em;
    float: left;
    left: -14em;
    margin-right: -13em;
    background-color:#e8e8e8;
    min-height: 20em;
    padding-left: 1em;
    
    -webkit-transition  : left 0.25s ease-in, margin-right  0.25s ease-in;
    -moz-transition     : left 0.25s ease-in, margin-right  0.25s ease-in;
    -o-transition       : left 0.25s ease-in , margin-right 0.25s ease-in;
    transition          : left 0.25s ease-in , margin-right 0.25s ease-in;

    &.display{
        left: 0;
        margin-right: 1em;
    }

    .toggleButton{
        float: right;
        left: 0em;
        margin-right: -2em;
        min-height: 20em;
    }
}

content{
    float: left;
    width: 95%;

    -webkit-transition  : width 0.25s ease-in;
    -moz-transition     : width 0.25s ease-in;
    -o-transition       : width 0.25s ease-in;
    transition          : width 0.25s ease-in;

    &.display{
        width: calc(95% - 15em);
    }

    
}